<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head data-th-fragment="header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title data-th-text="#{huntercert.review.tab.label}">Title</title>


<!-- Core CSS - Include with every page -->
<link type="text/css" rel="stylesheet"
	href="../../resources/css/bootstrap.css"
	data-th-href="@{/resources/css/bootstrap.css}" />

<link type="text/css" rel="stylesheet"
	href="../../resources/font-awesome-4.1.0/css/font-awesome.css"
	data-th-href="@{/resources/font-awesome-4.1.0/css/font-awesome.css}" />

<!-- SB Admin CSS - Include with every page -->
<link type="text/css" rel="stylesheet"
	href="../../resources/css/sb-admin-2.css"
	data-th-href="@{/resources/css/sb-admin-2.css}" />
<link rel="stylesheet" href="../../resources/css/select2.css"
	data-th-href="@{/resources/css/select2.css}" />
<style>
.no-border-on-me>thead>tr>th,.no-border-on-me>tbody>tr>th,.no-border-on-me>tfoot>tr>th,.no-border-on-me>thead>tr>td,.no-border-on-me>tbody>tr>td,.no-border-on-me>tfoot>tr>td
	{
	border-top-style: none;
	border-bottom-style: none;
}
</style>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     <![endif]-->

</head>
<body>
	<div id="wrapper">
		<!-- /#wrapper -->

		<div
			data-th-replace="fragments/newHunterCertForm-fragments :: top-nav"></div>



		<div id="page-wrapper">

			<div class="col-lg-12">


				<h4 data-th-if="${huntercerts} != null" class="page-header"
					data-th-text="#{huntercert.huntapproval.title.label} + ' ' + ${hunt}">Hunter Certs</h4>
				<h4 data-th-if="${huntercerts} == null" class="page-header"
					data-th-text="#{huntercert.huntapproval.notable.title}">Hunter Certs</h4>
			
				<div data-th-if="${huntercerts} != null" class="table responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="col-sm-2"
									data-th-text="#{huntercert.huntapproval.horsename.label}">Id</th>
									<th class="col-sm-2"
									data-th-text="#{huntercert.huntapproval.horsepedigree.label}">Id</th>
								<th class="col-sm-2"
									data-th-text="#{huntercert.huntapproval.owner.label}">Huntercert
									Type</th>
								<th class="col-sm-2"
									data-th-text="#{huntercert.huntapproval.handler.label}">Huntercert
									Name</th>
								<th class="col-sm-2"
									data-th-text="#{huntercert.huntapproval.accept.label}">Action</th>
									<th class="col-sm-2"
									data-th-text="#{huntercert.huntapproval.reject.label}">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr data-th-each="hunterCert : ${huntercerts}">
								<td data-th-text="${hunterCert.getHorse_name()}">1</td>
								<td data-th-text="'Sire:' + ${hunterCert.getSire()} + ' | Dam:' + ${hunterCert.getDam()}">1</td>
								<td
									data-th-text="${hunterCert.getOwner_id().getOwner_handler_name()}">Iron
									Butterfly</td>
								<td data-th-text="${hunterCert.getHandler_id().getOwner_handler_name()}">Triple
									Butter</td>

								<td style="text-align: center;"><a href="#"
									data-th-href="@{/huntApproval/approve(horseName=${hunterCert.getHorse_name()},approve=approveStage)}">
										<button type="button" class="btn btn-primary">
											<span class="glyphicon glyphicon-ok" data-th-text="#{huntercert.huntapproval.approve.button}"></span>
										</button>
								</a></td>
								
								<td style="text-align: center;"><a href="#"
									data-th-href="@{/huntApproval/approve(horseName=${hunterCert.getHorse_name()},approve=rejectStage)}">
										<button type="button" class="btn btn-primary">
											<span class="glyphicon glyphicon-remove" data-th-text="#{huntercert.huntapproval.reject.button}"></span>
										</button>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>


		

			</div>
			<!-- /.col-lg-12 -->

		</div>
		<!-- page wrapper -->
	</div>
	<!-- /#wrapper -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!--   <script type="text/javascript" src="../../resources/js/jquery-2.1.1.min.js"
        data-th-src="@{/resources/js/jquery-2.1.1.min.js}"></script>-->
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
		data-th-src="@{//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script type="text/javascript"
		src="../../resources/js/bootstrap.min.js"
		data-th-src="@{/resources/js/bootstrap.min.js}"></script>


	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
	<script src="../../resources/js/select2.js" type="text/javascript"
		data-th-src="@{/resources/js/select2.js}"></script>

	<!-- SB Admin Scripts - Include with every page -->
	<script type="text/javascript" src="../../resources/js/payment.js"
		data-th-src="@{/resources/js/payment.js}"></script>

</body>
</html>