<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head data-th-fragment="header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title data-th-text="#{vetreport.edit.page.title}">Title</title>
<!-- Core CSS - Include with every page -->
<link type="text/css" rel="stylesheet"
	href="../../resources/css/bootstrap.css"
	data-th-href="@{/resources/css/bootstrap.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/font-awesome-4.1.0/css/font-awesome.css"
	data-th-href="@{/resources/font-awesome-4.1.0/css/font-awesome.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/sb-admin-2.css"
	data-th-href="@{/resources/css/sb-admin-2.css}" />

<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/overrides.css"
	data-th-href="@{/resources/css/overrides.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/select2.css"
	data-th-href="@{/resources/css/select2.css}" />
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script type="text/javascript"
	src="../../resources/js/jquery-2.1.1.min.js"
	data-th-src="@{/resources/js/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" src="../../resources/js/vetreportedit.js"
	data-th-src="@{/resources/js/vetreportedit.js}"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     <![endif]-->

</head>
<body>

	<!-- /#wrapper -->




	<div class="container-fluid">
		<div data-th-replace="fragments/sb-admin-2 :: top-nav"></div>
		<div class="jumbotron">
			<h3 class="col-sm-12" data-th-text="#{vetreport.edit.head.title}">Edit
				HunterCert</h3>



			<form id="vetReportForm" novalidate="novalidate" class="form-horizontal" action="#"
				data-th-action="@{/vetReports/edit}" data-th-object="${vetReport}"
				method="post">

				<!--  REPORT TYPE SELECTOR -->

				<div data-th-if="*{reportId} == null">
					<div class=" row form-group">
						<div class="col-xs-3 text-right">
							<label for="reportTypeSel"
								data-th-text="#{vetreport.edit.reporttype.label}">SELECT
								A REPORT TYPE</label>
						</div>
						<div class="col-xs-6">
							<select class="form-control" id="reportTypeSel">
								<option value="Non-Runner"
									data-th-text="#{vetreport.edit.reporttype.nonrun}">Non
									run</option>
								<option value="Pre-Race"
									data-th-text="#{vetreport.edit.reporttype.prerace}">Pre
									Race</option>
								<option value="Random"
									data-th-text="#{vetreport.edit.reporttype.random}">Random</option>
								<option value="Track"
									data-th-text="#{vetreport.edit.reporttype.track}">Track</option>
							</select>
						</div>
						<div class="col-xs-3">ERROR</div>
					</div>
				</div>

				<!--  Racecard Select Only Visible When Report Type is not a random -->
				<div data-th-if="*{reportRandomId} == null" id="raceCardOnly"
					data-ng-app="" data-ng-controller="vetReportEditController">


					<!--  SELECT A DATE -->
					<div class="row form-group">
						<div class="col-xs-3 text-right">
							<label for="meetingDate"
								data-th-text="#{vetreport.edit.meetingDate.label}">SELECT
								A Date</label>
						</div>
						<div class="col-xs-6">
							<input type="text" data-th-field="*{reportRacecardId.dateRan}"
								id="meetingDate" class="datepicker form-control"></input>
						</div>
						<div class="col-xs-3">
							<span class="text-danger" id="dateerror"
								data-th-text="#{vetreport.edit.date.error}">Error</span><span
								class="text-danger"
								data-th-if="${#fields.hasErrors('reportRacecardId.dateRan')}"
								data-th-text="#{vetreport.edit.date.error}">Error</span>
						</div>


					</div>

					<!--  SELECT A Meeting -->
					<div class="row form-group">
						<div class="col-xs-3 text-right">
							<label for="meetingName"
								data-th-text="#{vetreport.edit.meeting.label}">SELECT A
								Meeting</label>
						</div>
						<div class="col-xs-6">
							<select id="meetingName" class="form-control"
								data-th-field="*{reportRacecardId.meeting}">
							</select>

						</div>
						<div class="col-xs-3">
							<span id="meetingerror"
								data-th-text="#{vetreport.edit.meeting.error}"></span><span
								class="text-danger"
								data-th-if="${#fields.hasErrors('reportRacecardId.meeting')}"
								data-th-text="#{vetreport.edit.meeting.error}">Error</span>
						</div>
					</div>

					<!--  SELECT A Horse -->
					<div class="row form-group">
						<div class="col-xs-3 text-right">
							<label for="horseName"
								data-th-text="#{vetreport.edit.horse.label}">SELECT A
								REPORT TYPE</label>
						</div>
						<div class="col-xs-6">
							<input type="hidden" id="racecardId" data-ng-model="rcId"
								data-th-field="*{reportRacecardId.rowId}"
								data-th-value="*{reportRacecardId.rowId}"></input> <select
								id="horseName" data-ng-model="info.horseName"
								class="form-control">
							</select>


						</div>
						<div class="col-xs-3">
							<span class="text-danger" id="horseerror"
								data-th-text="#{vetreport.edit.horse.error}">Error</span><span
								class="text-danger"
								data-th-if="${#fields.hasErrors('reportRacecardId.horseName')}"
								data-th-text="#{vetreport.edit.horse.error}">Error</span>
						</div>
					</div>
					<!--  Show Race card Detail -->
					<div id="loadRaceCardDetail" data-ng-show="info.trainerName"
						class="row form-group">
						<div class="col-xs-3 text-right">
							<label for="trainerName"
								data-th-text="#{vetreport.edit.trainer.label}">Trainer</label>
						</div>
						<div class="col-xs-6">
							<div class="row">
								<div class="col-xs-4">
									<input type="text" class="form-control" readonly="readonly"
										data-ng-model="info.trainerName"></input>
								</div>
								<div class="col-xs-2">
									<label for="trainerName"
										data-th-text="#{vetreport.edit.raceNo.label}">Race No</label>
								</div>
								<div class="col-xs-2">
									<input type="text" class="form-control" readonly="readonly"
										data-ng-model="info.raceNo"></input>
								</div>
								<div class="col-xs-2">
									<label for="trainerName"
										data-th-text="#{vetreport.edit.horseNo.label}">Race No</label>
								</div>
								<div class="col-xs-2">
									<input type="text" class="form-control" readonly="readonly"
										data-ng-model="info.horseNum"></input>
								</div>

							</div>


						</div>
						<div class="col-xs-3"></div>
					</div>


				</div>
				<!-- END RACECARD ONLY DIV -->
				<!--  Horse / Trainer Select Only Visible When Report Type is a random -->
				<div data-th-if="*{reportRandomId} != null" class="row form-group">
					<div class="col-xs-3 text-right">
						<label for="reportTypeSel"
							data-th-text="#{vetreport.edit.reporttype.label}">SELECT
							A REPORT TYPE</label>
					</div>
					<div class="col-xs-6">
						<select class="form-control" id="reportTypeSel">
							<option value="Non-Runner"
								data-th-text="#{vetreport.edit.reporttype.nonrun}">Non
								run</option>
							<option value="Pre-Race"
								data-th-text="#{vetreport.edit.reporttype.prerace}">Pre
								Race</option>
							<option value="Random"
								data-th-text="#{vetreport.edit.reporttype.random}">Random</option>
							<option value="Track"
								data-th-text="#{vetreport.edit.reporttype.track}">Track</option>
						</select>
					</div>
					<div class="col-xs-3">
						<span class="text-danger" id="horseerror"
							data-th-text="#{vetreport.edit.horse.error}">Error</span><span
							class="text-danger"
							data-th-if="${#fields.hasErrors('reportRacecardId.horseName')}"
							data-th-text="#{vetreport.edit.horse.error}">Error</span>
					</div>

				</div>
				<!-- END NO RACECARD DIV -->

				<!-- Report  -->
				<div class="row form-group">
					<div class="col-xs-3 text-right">
						<label for="report" data-th-text="#{vetreport.edit.report.label}">SELECT
							A REPORT TYPE</label>
					</div>
					<div class="col-xs-6">
						<textarea data-th-field="*{reportContent}" class="form-control"
							id="report" rows="4" cols="50"></textarea>
					</div>
					<div class="col-xs-3">
						<span class="text-danger" id="reporterror"
							data-th-text="#{vetreport.edit.report.error}">Error</span><span
							class="text-danger"
							data-th-if="${#fields.hasErrors('reportContent')}"
							data-th-text="#{vetreport.edit.report.error}">Error</span>
					</div>

				</div>

				<!-- Vet  -->
				<div id="vet" class="row form-group">
					<div class="col-xs-3 text-right">
						<label for="selectvet" data-th-text="#{vetreport.edit.vet.label}">SELECT
							A REPORT TYPE</label>
					</div>
					<div class="col-xs-6">

						<select multiple="multiple" name="selectedVets" id="selectvet"
							class="form-control">
							<option data-th-each="vet : ${allVets}"
								data-th-value="${vet.vetId}" data-th-selected="${vet.selected}"
								data-th-text="${vet.vetName}">Vets</option>

						</select>

					</div>
					<div class="col-xs-3">
						<span class="text-danger" id="veterror"
							data-th-text="#{vetreport.edit.vet.error}">Error</span><span
							class="text-danger" data-th-if="${vetError}"
							data-th-text="#{vetreport.edit.vet.error}">Error</span>
					</div>

				</div>

				<!-- Misc  -->
				<div class="row form-group">
					<div class="col-xs-3 text-right">
						<label for="misc" data-th-text="#{vetreport.edit.misc.label}">SELECT
							A REPORT TYPE</label>
					</div>
					<div class="col-xs-6">
						<input data-th-field="*{reportMisc}" data-th-value="*{reportMisc}"
							class="form-control" id="misc"></input>
					</div>
					<div class="col-xs-3"></div>



				</div>
				<!-- Buttons  -->
				<div class="row form-group">
					<div class="col-xs-3 text-right"></div>
					<div class="col-xs-6 text-center">


						<button type="submit" class="btn btn-primary"
							data-th-text="#{vetreport.edit.save.button}">Delete</button>

						<a href="#" data-th-href="@{/vetReports/}">
							<button type="button" class="btn btn-default active"
								data-th-text="#{vetreport.edit.cancel.button}">Cancel</button>
						</a>
					</div>
					<div class="col-xs-3"></div>



				</div>




			</form>







		</div>
		<!-- END JUMBOTRON TAG -->
	</div>

	<!-- END CONTAINER TAG -->


	<script type="text/javascript"
		src="../../resources/js/bootstrap.min.js"
		data-th-src="@{/resources/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
	<script src="../../resources/js/select2.js" type="text/javascript"
		data-th-src="@{/resources/js/select2.js}"></script>
	<!-- SB Admin Scripts - Include with every page -->




</body>
</html>