<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head data-th-fragment="header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title data-th-text="#{huntercert.receipt.tab.label}">Title</title>


<!-- Core CSS - Include with every page -->
<link type="text/css" rel="stylesheet"
	href="../../resources/css/bootstrap.css"
	data-th-href="@{/resources/css/bootstrap.css}" />

<link type="text/css" rel="stylesheet"
	href="../../resources/font-awesome-4.1.0/css/font-awesome.css"
	data-th-href="@{/resources/font-awesome-4.1.0/css/font-awesome.css}" />

<!-- SB Admin CSS - Include with every page -->
<link type="text/css" rel="stylesheet"
	href="../../resources/css/sb-admin-2.css"
	data-th-href="@{/resources/css/sb-admin-2.css}" />
<link rel="stylesheet" href="../../resources/css/select2.css"
	data-th-href="@{/resources/css/select2.css}" />
<style>
.no-border-on-me>thead>tr>th,.no-border-on-me>tbody>tr>th,.no-border-on-me>tfoot>tr>th,.no-border-on-me>thead>tr>td,.no-border-on-me>tbody>tr>td,.no-border-on-me>tfoot>tr>td
	{
	border-top-style: none;
	border-bottom-style: none;
}
</style>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     <![endif]-->

</head>
<body>
	<div id="wrapper">
		<!-- /#wrapper -->

		<div
			data-th-replace="fragments/newHunterCertForm-fragments :: top-nav"></div>



		<div id="page-wrapper">

			<div class="col-lg-12">
				<div id='nav-tabs'>

					<nav>
						<ul class="nav nav-tabs">
							<li class="list-group-item-heading"><a href="#">Step 1 -
									Handler</a></li>
							<li class="list-group-item-heading"><a href="#">Step 2 -
									Horse</a></li>
							<li class="list-group-item-heading"><a href="#">Step 3 -
									Owner</a></li>
							<li class="list-group-item-heading"><a href="#">Step 4 -
									Hunt</a></li>
							<li class="list-group-item-heading"><a href="#">Step 5 -
									Vaccinations</a></li>
							<li class="list-group-item-heading"><a href="#">Step 6 -
									Confirm</a></li>
							<li class="list-group-item-heading"><a href="#">Step 7 -
									Review</a></li>
							<li class="active"><a href="#">Step 8 - Payment</a></li>
						</ul>
					</nav>
				</div>

				<h3 class="page-header" data-th-if="${huntercerts} != null"
					data-th-text="#{huntercert.receipt.table.title}">Configured
					Strategies</h3>
					<h3 class="page-header" data-th-if="${huntercerts} == null"
					data-th-text="#{huntercert.receiptError.table.title}">Configured
					Strategies</h3>
				<form data-th-if="${huntercerts} != null" class="form" action="#" id="logoutForm"
					data-th-action="@{/logout?logout=You have now been logged out - Thank you for your payment}"
					method="post">
					<div class="table responsive">
						<table class="no-border-on-me table ">
							<thead>
								<tr>

									<th class="col-sm-4"></th>
									<th  class="col-sm-4"
										data-th-text="#{huntercert.receipt.form.label}">huntercert
										Type</th>
									
									<th class="col-sm-4"></th>
								</tr>
							</thead>
							<tbody>
	

								<tr 
									data-th-each="hunterCert : ${huntercerts}">
									<th class="col-sm-4"
										data-th-text="#{huntercert.receipt.horseDetail.title}"></th>
									<td class="col-sm-4" data-th-text="${hunterCert.getHorse_name()}">Iron
										Butterfly</td>
									<td class="col-sm-4"
										data-th-text="${hunterCert.getHunt_id()}">Triple
										Butter</td>


								</tr>
								
								<tr data-th-if="${receiptNo} != null">
									<td class="col-sm-4" data-th-text="#{huntercert.receipt.receiptNo.title}"></td>
									<td class="col-sm-4" data-th-text="${receiptNo}">1</td>
									<td class="col-sm-4" ></td>
								</tr>
								<tr >
									<td class="col-sm-4" data-th-text="#{huntercert.receipt.conditions.title}"></td>
									<td class='col-sm-4'>You must visit your local Hunt to
										have this application approved. This Application is not valid
										until it has been verified as Registered by the Office of the
										Governing Bodies, The Curragh, Co. Kildare and published on
										the Turf Club Website.</td>
									<td class="col-sm-4"></td>
								</tr>
							
								<tr>

									<td class="col-sm-4">
										<button type="submit" class="btn btn-primary"
											id="logout"
											data-th-text="#{receipt.form.submit.button}">Continue</button>

									</td>
									<td class="col-sm-8"></td>
								</tr>
								<tr>

									<td></td>
								</tr>
							</tbody>
						</table>

					</div>
				</form>
<form data-th-if="${huntercerts} == null" class="form" action="#" id="logoutForm"
					data-th-action="@{/logout?logout=You have now been logged out - Your Payment was Unsucessful}"
					method="post">
					<div class="table responsive">
						<table class="no-border-on-me table ">
							<thead>
								<tr>

<th class="col-sm-4"></th>
								
										<th class="col-sm-4"
										data-th-text="#{huntercert.receiptError.form.label}">huntercert
										Type</th>
									<th class="col-sm-4"></th>
								</tr>
							</thead>
							<tbody>


							
				
								<tr >
									<td class="col-sm-4" data-th-text="#{huntercert.receipt.error.title}"></td>
									<td class='col-sm-8'>Your payment was unsucessful. Please logout and try again or contact the Turf Club on Ph:045 445600 </td>
									<td class="col-sm-4"></td>
								</tr>
								<tr>

									<td class="col-sm-4">
										<button type="submit" class="btn btn-primary"
											id="logout"
											data-th-text="#{receipt.form.submit.button}">Continue</button>

									</td>
									<td class="col-sm-8"></td>
								</tr>
								<tr>

									<td></td>
								</tr>
							</tbody>
						</table>

					</div>
				</form>


			</div>
			<!-- /.col-lg-12 -->

		</div>
		<!-- page wrapper -->
	</div>
	<!-- /#wrapper -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!--   <script type="text/javascript" src="../../resources/js/jquery-2.1.1.min.js"
        data-th-src="@{/resources/js/jquery-2.1.1.min.js}"></script>-->
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
		data-th-src="@{//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script type="text/javascript"
		src="../../resources/js/bootstrap.min.js"
		data-th-src="@{/resources/js/bootstrap.min.js}"></script>

	<!-- Core Scripts - Include with every page -->
	<script type="text/javascript"
		src="../../resources/js/plugins/metisMenu/jquery.metisMenu.js"
		data-th-src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>

	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
	<script src="../../resources/js/select2.js" type="text/javascript"
		data-th-src="@{/resources/js/select2.js}"></script>




</body>
</html>